<div id="wrapper">
  <%= image_tag 'ludo_studio_logo.png', alt: 'Ludo Studio', class: 'ludo-studio-logo' %>

  <p>
    Ludo Studio Ltd is registered under company registration number 06447854<br />
    at Unit 2, Profile Business Park, Cleveland Street, Hull, HU8 7BJ VAT: 932110570
  </p>

</div>
